 /* Small devices (landscape phones) */

 @media (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
    .mobile{
        display: none;
    }
    
}

/* Large devices (desktops) */

@media (min-width: 992px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1400px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1500px) {
}
/* Extra large devices (large desktops) */

@media (min-width: 1800px) {
}


@media (min-width: 1920px) {
}

/* The given screen size or smaller */

/* Extra small devices (portrait phones)*/

@media (max-width: 575px) {
    body {
        background: coral;
    }
}

/* Small devices (landscape phones)*/

@media (max-width: 767px) {
    .main-container{
        display: none;
    }
}

/* Medium devices (tablets)*/

@media (max-width: 991px) {}

/* Large devices (desktops)*/

@media (max-width: 1199px) {}