.mobile{
    overflow-x: hidden;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../img/menu.svg");
}

.mob-container{
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

.mobile nav{
    background: transparent !important;
}

.mobile .carousel {
    width: 114% !important;
}

.mobile .head-card {
    border-radius: 10px;
    background: linear-gradient(90deg, #FFF 0%, #FFF 100%);
    backdrop-filter: blur(10px);
    align-items: center;
    flex-shrink: 0;
    z-index: 1;
    border: none !important;
}

.mobile .rera{
    font-size: 12px !important;
}

.login-box{
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.mobile .form-check {
    padding-top: 1rem;
    position: relative;
    display: block;
    padding-left: 2.25rem;
}

.form-check-input {
    position: absolute;
    margin-top: 0rem;
    margin-left: -1.25rem;
}


.mobile .head-over{
    font-size: 20px;
}

.mobile .sub-head-over{
    font-size: 17px;
}

.mobile .span-over {
    font-size: 17px;
}

.mobile .para{
    font-size: 15px;
    line-height: 20px;
    margin-top: 2%;
}

.mobile .btn-download{
    width: 60%;
    height: 3rem;
    color: #000;
    border-radius: 10px;
    border: 2px solid #8B7170;
    background: #FFF;
    color: #8B7170;
}

.mobile  .nav-tabs .nav-link {
    border-radius: 10px 10px 0px 0px;
    background: #FFF;
    width: 100%;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    color: #747171;
    text-align: center;
    font-family: Neue Haas Unica;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.mobile .nav-tabs .nav-link.active {
    border-bottom: 5px solid #8B7170;
    color: #8B7170;
}

.mobile .nav-pills .nav-link.active{
    color: #8B7170;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent !important;
    border-bottom: 6px solid #8b7170;
    border-radius: 0 !important;
}

.mobile .nav-pills .nav-link {
    color: #747171;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mobile .float-left{
    margin-left: 1%;
  }

  .mobile .float-text-left{
    font-size: 11px;
  }
  
  .mobile .float-text-left-2{
    font-size: 11px;
  }
  
  .mobile .float-text-right{
    font-size: 11px;
  }

.mobile .img-center {
    width: 100%;
    margin-left: auto;
}  

.mobile .img-center img{
    width: 100%;
}  

.mobile .foot-text{
    font-size: 15px;
}

.fixed-bottom{
    width: 100%;
    background-color: var(--primary-color);
    text-align: center !important;
}
.fixed-bottom ul{
    margin-left: -1.5%;
    padding: 10px 20px;
    margin-top: 1%;
}
.fixed-bottom ul li {
    display: inline-block;
    list-style: none;
    margin: 1px 8px;
    color: #FFF !important;
    font-family: 'theme-font-regular', sans-serif;
    font-size: 13px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
}

.fixed-bottom .navbar{
    background: var(--primary-color) !important;
}

.mobile .inline-block-element {
    display: inline-block;
    padding: 10px 5px;
    margin: 10px 8px;
    color: #000;
    width: 22%;
}

.mobile .centered-container img {
    width: 80%;
}

.mobile .inline-block-element h6 {
    padding-top: 0.4rem;
    font-size: 10px !important;
    width: 100%;
    font-family: Neue Haas Unica;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
}

.mobile .btn-many{
    width: 100px;
    height: 38px;
    margin-left: 8%;
    font-size: 10px;
}

.mobile .btn-downl {
    width: 150px;
    height: 38px;
    margin-left: 8%;
    font-size: 10px;
}

.mobile .sliders img{
    width: 100%;
    height: 103px;
    margin-left: 7%;
    margin-bottom: 5%;
}

.mobile .sliders-right img{
    width: 100%;
    height: 103px;

    margin-left: -6%;
    margin-bottom: 5%;
}

.location-text{
    color: #000;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 15px;
    margin-left: 5%;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 200% */
}

.location-text ul{
    padding-inline-start: 15px;
    padding-inline-end: 15px; 
}

.conatiner-overlay{
    width: 100%;
    
}

.mobile .overlay-2{
    width: 100%;
    height: 163.395px;
    background-image: url('../img/header.png');
    background-size:cover;
}

.mobile .overlay-text{
    width: 90.8%;
    height: 50px;
    flex-shrink: 0;
    position: absolute;
    overflow: hidden;
    left: 4.5%;
    top: 4.7rem;
    bottom: 0;
    padding: 0 1.3em;
    background: rgba(0, 0, 0, 0.50);    
    color: #3c4a50;
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.mobile .about{
    border-radius: 10px;
    border: 2px solid #D9D9D9 !important;
}

.mobile .about h5{
    font-size: 20px;
}

.mobile .content-2{
    font-size: 12px;
}

.mobile .login-box .user-box {
    position: relative;
  }
  
  .mobile .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #D9D9D9;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    outline: none;
    background: transparent;
  }
  
  .mobile .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #D9D9D9;
    pointer-events: none;
    transition: .5s;
  }
  
  .mobile .login-box .user-box input:focus ~ label,
  .mobile .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #8b7170;
    font-size: 12px;
  }
  
  .mobile .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #8b7170;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .mobile .login-box a:hover {
    background: #8b7170;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8b7170,
                0 0 25px #8b7170,
                0 0 50px #8b7170,
                0 0 100px #8b7170;
  }
  
  .mobile .login-box a span {
    position: absolute;
    display: block;
  }
  
  .mobile .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #8b7170);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .mobile .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #8b7170);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .mobile .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #8B7170 0%, #DBB9B7 100%);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .mobile .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #8b7170);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  .mobile .head-card .btn-head {
    width: 220px;
    height: 45px;
  }