:root{
    --primary-color : #8b7170;
    overflow-x: hidden;
}


/* Fonts */
@font-face {
    font-family: 'theme-font-black';
    src: url('../fonts/NeueHaasUnica-Black.ttf') format('woff2'),
    /* Add more sources if needed (e.g., ttf, svg, eot) */
}
@font-face {
    font-family: 'theme-font-regular';
    src: url('../fonts/NeueHaasUnica-Regular.ttf') format('woff2'),
    /* Add more sources if needed (e.g., ttf, svg, eot) */
}
@font-face {
    font-family: 'theme-font-medium';
    src: url('../fonts/NeueHaasUnica-Medium.ttf') format('woff2'),
    /* Add more sources if needed (e.g., ttf, svg, eot) */
}

/* Similar Inputs for border cards */

.amenities, .card-plan, .card-overview, .card-gallery, .location, .video{
    border-radius: 10px;
    border: 2px solid #D9D9D9 !important;
}

.header{
    max-height: 557px;
}

.carousel-card{
    min-height: 550px;
    margin-right: auto;
    margin-left: auto;
}


/* This is for the ovelapped card */

.main-container .head-card{
    border-radius: 10px;
    background: none;
    flex-shrink: 0;
    z-index: 1;
    border: none !important;
    margin-top: 35%;
}

.head-card .head-text{
    color: var(--primary-color);
    font-family: 'theme-font-black', sans-serif;
    font-size: 18px;
    font-style: bold;
    font-weight: 900;
    line-height: normal;
}

.head-card .head-text-2{
    color: var(--primary-color);
    font-family: 'theme-font-black', sans-serif;
    font-size: 16px;
    font-style: bold;
    font-weight: 900;   
    line-height: normal;
}

.head-card .sub-text{
    color: var(--primary-color);
    font-family: Neue Haas Unica;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.head-card .sub-text-2{
    color: var(--primary-color);
    font-family: Neue Haas Unica;
    font-size: 13px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: -1%;
}

.head-card .btn-head{
    margin-top: 2%;
    width: 220px;
    height: 50px;
    border-radius: 10px;
    background: var(--primary-color);   
    color: #fff;
}

.btn-head:hover {
    color: #000;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-head:focus, .btn-head.focus {
    box-shadow: 0 0 0 0.2rem rgb(139, 113, 112);;
}

.form-card{
    width: 90%;
}

.btn-text{
    color: #8B7170;
    font-family: Neue Haas Unica;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 117.647% */
}

.para-text{
    color: #8B7170;
    font-family: Neue Haas Unica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 117.647% */
    margin-top: 5%;
}

.headline{
    color: #000;
    font-family: Neue Haas Unica;
    font-size: 17px;
    font-style: normal;
    font-weight: 900;
    margin-top: 4%;
    line-height: normal;

}

.rera{
    color: #000;
    font-family: Neue Haas Unica;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    margin-top: 5%;
    line-height: normal;
}

.btn-form {
    width: 100%;
    height: 45px;
    font-size: 1.2rem;
    border-radius: 10px;
    background: #FFF;
    border: 2px solid #8b717075;
}

.form-head{
    font-size: 1.045rem;
}


/* Navbar */

nav{
    width: 100%;
    background-color: var(--primary-color);
    text-align: center !important;
}


nav ul{
    margin-left: -1.5%;
    padding: 0px 20px;
    margin-top: 1%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 25px;
    color: #FFF !important;
    font-family: 'theme-font-regular', sans-serif;
    font-size: 20.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover{
    color: #fff;
    text-decoration: underline ;
}




.navbar{
    background: var(--primary-color) !important;
    margin-left: -4.5%;
}

/* Overview */
.container-custom{
    width: 100%;
    padding-right: 2%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}


.card-overiew{
    border-radius: 10px;
    border: 3px solid #D9D9D9;
    background: #FFF;
}

.head-over{
    color: #8B7170;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    margin-left: -1%;
    line-height: normal;
}

.sub-head-over{
    color: #8B7170;
    font-family: Neue Haas Unica;
    font-size: 25px;
    margin-top: 2%;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.span-over{
    color: #8B7170;
    font-family: Neue Haas Unica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.para{
    color: #000;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-center{
    align-items: center;
    display: flex;
    justify-content: center;;
}


.btn-download{
    width: 30%;
    height: 3rem;
    color: #000;
    border-radius: 10px;
    border: 2px solid #8B7170;
    background: #FFF;
}


/* Plans  */

.card-header{
    background: #FFF;
    padding-top: 3%;
    color: #8B7170;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Nav-pills inside the room selection */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #8B7170;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent !important;
    border-bottom: 4px solid #8b7170;
    border-radius: 0 !important;
}


.nav-pills .nav-link {
    color: #747171;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-pills{
    border-bottom: 2px solid #D9D9D9;;
}


/* Nav Tabs the select rooms one  */
.nav-tabs .nav-link{
    font-size: 20px;
}


/* Plans  */


.float-text-left{
    color: #000;
    font-family: Neue Haas Unica;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.float-text-left-2{
    color: #000;
    font-family: Neue Haas Unica;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.float-text-right{
    color: #000;
    font-family: Neue Haas Unica;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 4%;
}

.img-center{
    align-items: center;
    display: flex;
    justify-content: center;;
}



.blury{
    width: 319px;
    height: 236px;
    border-radius: 7.895px;
    background: rgba(255, 255, 255, 0.01);
    filter: blur(5px);
    backdrop-filter: blur(7.8947367668151855px);
}


.btn-contact{
    border-radius: 10px;
    background: #8B7170;
    margin-top: 5%;
    color: #FFF;
    height: 49px;
}

.btn-submit{
    border-radius: 10px;
    background: #8B7170;
    width: 100%;
    color: #FFF;
    height: 50px;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

.btn-chat{
    border-radius: 10px;
    background: #8B7170;
    width: 220px;
    color: #FFF;
    height: 40px;
    margin-bottom: 2%;
}

.footer-line{
    background: #D9D9D9;
    height: 5px; /* Set the height of the horizontal rule */
    border: none; /* Remove the default border */
    margin: 20px auto; 
}

.foot-text{
    color: #8B7170;
    font-family: Neue Haas Unica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Card cost And Planning */


.card-cost {
    min-height: 297px;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
}

.img-centered {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.footer-line-2{
    background: #D9D9D9;
    height: 5px; /* Set the height of the horizontal rule */
    border: none; /* Remove the default border */
    width: 90%;
    padding-left: 1%;
}

.footer-text{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #8B7170;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.layout-img{
    width: 100%;
    height: 171px;
    padding: 0 10%;
}


/* Amenities */

.amenities h5{
    color: #8B7170;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3%;
    margin-top: 2%;
    line-height: normal;
}

.centered-container {
    text-align: center; /* Center its contents horizontally */
  }



  .inline-block-element {
    display: inline-block; /* Display the element as inline-block */
    padding: 10px 5px;
    margin: 10px 8px; /* Add some margin for spacing */
    color: #000;
    width: 12%;
  }

  .inline-block-element h6{
    padding-top: .5rem;
    font-size: 14px !important;
    font-family: Neue Haas Unica;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
  }
  .float-left{
    margin-left: 5%;
  }

  .float-right{
    margin-right: 5%;
  }
  
  .btn-many{
    border-radius: 5px;
    background: #8B7170;
    color: #fff !important;
  }
  
  .btn-downl{
    border-radius: 7.168px;
    border: 1.434px solid #8B7170;
    background: #FFF;
  }


  /* Card Gallery */


  .card-gallery{
    margin-top: 3rem;
}

.card-gallery h5{
    color: #8B7170;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3%;
    margin-top: 2%;
    line-height: normal;
}


.slider-box{
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 3.5%;
    margin-right: -2%;
}

.slider-box img{
    max-width: 400px;
    height: 250px;
    margin: 1%;
}


/* Location */

.location h5{
    color: #8B7170;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3%;
    margin-top: 2%;
    line-height: normal;
}

.btn .nearby{
    border-radius: 10px;
    background: transparent;
    width: 237px;
    color: var(--primary-color);
    height: 49px;
}

.nearby-text{
    padding-top: 6%;
}

.location-img{
    width: 100%;
}


/* About */


.about h5{
    color: #8B7170;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3%;
    margin-top: 2%;
    line-height: normal;
}

.content{
    color: #000;
    text-align: justify;
    font-family: 'theme-font-black', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
}

.content-2{
    color: #fff;
    text-align: justify;
    font-family: 'theme-font-regular', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

/* Footer */

.footer-end {
	background-color: #8B7170;
	padding: 20px;
    color: #FFF !important;
}

.negative{
    margin-left: -2%;
}

/* Video */


.video h5{
    color: #8B7170;
    text-align: justify;
    font-family: Neue Haas Unica;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3%;
    margin-top: 2%;
    line-height: normal;
}

/* Form Sticky */


.form-card{
    width: 22%;
    flex-shrink: 0;
    border-radius: 10px;
    position: fixed;
    margin-top: 7.5%;
    padding-top: .5%;
    background: #FFF;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25), 0px -1px 2px 0px rgba(0, 0, 0, 0.25);
    margin-left: -1%;
}

.btn-visit, .btn-share{
    margin-bottom: 2%;
}

.form-input{
    flex-shrink: 0;
    margin: 1rem 1.5rem;
    height: 28%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}




.login-box .user-box {
    position: relative;
  }
  
.login-box .user-box input {
    width: 100%;
    padding: 12px 0;
    font-size: 10px;
    color: #8b7170;
    margin-bottom: 12px;    
    border: none;
    border-bottom: 1px solid #D9D9D9;
    outline: none;
    background: transparent;
  }
  
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #D9D9D9;
    pointer-events: none;
    transition: .5s;
  }
  
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #8b7170;
    font-size: 12px;
  }
  
.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #8b7170;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
.login-box a:hover {
    background: #8b7170;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8b7170,
                0 0 25px #8b7170,
                0 0 50px #8b7170,
                0 0 100px #8b7170;
  }
  
.login-box a span {
    position: absolute;
    display: block;
  }
  
.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #8b7170);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #8b7170);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #8b7170);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #8b7170);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  .special{
    left:19px !important    ;
  }

  .form-check {
    padding-top: 1rem !important;
    position: relative;
    display: block;
    text-align: justify;
    padding-left: 12% !important;
    padding-right: 10% !important;
}

.form-check-label {
    font-size: 9px;
}

.hide{
    display: none;
}


.blury:hover .overlay {
    backdrop-filter: blur(10px);
}

.overlay {
    position: absolute;
    bottom: -25%;
    left: 15%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.2s ease;
  }


.slide-img{
    width: 100%;
    height: 275px ;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: 0.5s;
}

.slide-img:hover{
    box-shadow: 0 0 0 200px black;
}

.modal-header{
    background-color: var(--primary-color);
    color: #FFF;
 }

 .btn-send{
    border-radius: 10px;
    background: #8B7170;
    color: #FFF;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-price{
    border-radius: 10px;
    background: #8B7170;
    width: 150px;
    font-size: 1rem;
    color: #FFF;
    height: 49px;
}